xslt/products-syndication.dtd

<!ELEMENT product-syndication (meta?,data)>
<!ELEMENT meta (#PCDATA)>
<!ELEMENT data (cat)>
<!ELEMENT cat (title,desc?,(cat|prod)*)>
<!ELEMENT prod (title,isbn,desc?)>
<!ELEMENT desc (p*)>
<!ELEMENT p (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ATTLIST cat id ID #REQUIRED>
<!ATTLIST prod id ID #REQUIRED>
